**/bin/
**/obj/
**/out/

.git/
.gitignore
.idea/
.vs/
.vscode/
*.user
*.DotSettings.user

tests/
**/TestResults/
coveragereport/
coverlet.runsettings

docker-compose*.yml
**/Dockerfile
**/.dockerignore
*.md
